.container
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
              | Example page header
              small Subtext for header
      .row.clearfix
        .col-md-3.column
          form(role='form')
             div(ng-repeat='param in model')
              .form-group
                label(for='{{param.name}}') {{param.name}}
                input.form-control(ng-model='param.default')
            button.btn.btn-default(type='submit') Start
          h2
            | Model Description
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .col-md-9.column

          .progress
           .progress-bar.progress-success
           ol
                li
                  | Lorem ipsum dolor sit amet
                li
                  | Consectetur adipiscing elit
                li
                  | Integer molestie lorem at massa
                li
                  | Facilisis in pretium nisl aliquet
                li
                  | Nulla volutpat aliquam velit
                li
                  | Faucibus porta lacus fringilla vel
                li
                  | Aenean sit amet erat nunc
                li
                  | Eget porttitor lorem
