.container
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
              | Model Runner
              small run your abm simulation
      .row.clearfix
        .col-md-3.column
          form(role='form',ng-submit='runModel()')
             button.btn.btn-default(type='submit') Start
             div(ng-repeat='param in model')
              .form-group
                label(for='{{param.name}}') {{param.name}}
                input.form-control(ng-model='param.default')
          h2
            | Model Description
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .col-md-9.column
          p {{TotalRuns}} runs loaded from the simulation
          form(ng-submit='showVisualization()')
            strong Visualization Speed {{vis.speed}} runs/s
            ui-slider.ui-slider-default
             ui-slider-thumb(ng-model='vis.speed')
            strong Visualization Progress {{vis.runs}} runs
            ui-slider.ui-slider-default
             ui-slider-thumb(ng-model='vis.runs',max='TotalRuns')             
            button.btn.btn-default(type='submit') Start
          form(ng-submit='stopVisualization()')
            button.btn.btn-default(type='submit') Stop
          graph-visualization(source='gvnodes',restart='gvreset')

