.container
      .row.clearfix
        .col-md-12.column
          .page-header
            h1
              | Example page header
              small Subtext for header
      .row.clearfix
        .col-md-3.column
          form(role='form')
            .form-group
              label(for='exampleInputEmail1') Email address
              input#exampleInputEmail1.form-control(type='email')
            .form-group
              label(for='exampleInputPassword1') Password
              input#exampleInputPassword1.form-control(type='password')
            button.btn.btn-default(type='submit') Start
            button.btn.btn-default(type='submit') Stop
          h2
            | Model Description
          p
            | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .col-md-9.column
          ul.nav.nav-pills
            li.active
              a(href='#') Home
            li
              a(href='#') Profile
          img(alt='140x140', src='http://lorempixel.com/140/140/')
          .progress
            .progress-bar.progress-success
