p The current time is {{time}}

ul
 li(ng-repeat='project in allProjects')
  a(href='/projects/{{project._id}}')
   {{project.name}} 

.gridStyle(ng-grid='gridOptions')
button(ng-click='newProject()') Add New Project
