p There are {{allProjects.length}} posts
ul#todo-list
	li(ng-repeat='project in allProjects track by $index', ng-class='{editing: project == editedProject}')
		.view
			label(ng-dblclick='editProject(project)') {{project.name}}
			button.destroy(ng-click='removeProject(project)')
		form(ng-submit='doneEditing(project)')
		input.edit(ng-trim='false', ng-model='project.name', project-escape='revertEditing(project)', project-blur='doneEditing(project)', project-focus='project == editedProject')

footer
	form#todo-form(ng-submit='addProject()')
		input#new-project(placeholder='Add a new Project', ng-model='newProject', autofocus='autofocus')
	span#project-count
		strong There are {{allProjects.length}} projects
        
